<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>706744627604-ev0i9rn0451m5qmn0b9l50shh2vd0omd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.706744627604-ev0i9rn0451m5qmn0b9l50shh2vd0omd</string>
	<key>API_KEY</key>
	<string>AIzaSyA1wjtZbtoAufsKB_XGDtP26jI-3baict8</string>
	<key>GCM_SENDER_ID</key>
	<string>706744627604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.oregonstate.hurstd</string>
	<key>PROJECT_ID</key>
	<string>wasteagram-5e4cb</string>
	<key>STORAGE_BUCKET</key>
	<string>wasteagram-5e4cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:706744627604:ios:46154597dc39d9dd411f81</string>
</dict>
</plist>